@import "../app/bem.scss";
@import "../app/constants.scss";

@include b("app-header") {
  &__header {
    padding: $qn-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__app-title {
    cursor: pointer;
  }

  &__toolbar {
    display: flex;
    align-items: center;
  }

  &__toolbar > * {
    margin-left: $qn-margin;
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    position: relative;
    padding-bottom: 2.5rem;
  }

  &__profile > * {
    margin-bottom: 1rem;
  }
}
