@import "../app/bem.scss";
@import "../app/constants.scss";

@include b("admin") {
  overflow: hidden;
  height: 100%;
  padding: $qn-padding;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: $qn-padding;

  &__toolbar {
    border: 1px solid green;
    display: flex;
    flex-direction: row-reverse;
  }

  &__body {
    border: 1px solid goldenrod;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__table {
    width: 100%;
  }

  &__table thead tr {
    position: sticky;
    top: 0;
  }
}
