@import "../app/bem.scss";
@import "../app/constants.scss";
@import "~@blueprintjs/core/src/common/colors";

@include b("admin") {
  overflow: hidden;
  height: 100%;
  padding: $qn-padding;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: $qn-padding;

  &__toolbar {
    display: flex;
    flex-direction: row-reverse;
  }

  &__body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  & table {
    width: 100%;

    thead {
      position: sticky;
      z-index: 1;
      top: 0;
    }

    &.bp3-html-table {
      td,
      tr {
        vertical-align: middle;
      }

      thead th {
        box-shadow: inset 0 -1px 0 0 rgb(16 22 26 / 15%);
        background-color: $pt-app-background-color;
      }

      tbody tr:first-child td {
        box-shadow: none;
      }
    }
  }

  .bp3-dark & table.bp3-html-table thead th {
    box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 15%);
    background-color: $pt-dark-app-background-color;
  }

  .bp3-dark & table.bp3-html-table tbody tr:first-child td {
    box-shadow: none;
  }
}
