rules_version = '2';
service cloud.firestore {

  function loggedIn() {
    return request.auth != null
  }

  function isAuthor() {
    return loggedIn() && request.auth.uid == resource.data.author;
  }

  match /databases/{database}/documents {

    match /notes/{note} {
      allow create: if request.auth != null;
      allow read: if isAuthor();
      allow update: if isAuthor();
      allow delete: if isAuthor();
    }

    match /roles-updates/{uid} {
      allow read: if loggedIn() && request.auth.uid == uid
    }
  }
}
