rules_version = '2';
service cloud.firestore {

  function loggedIn() {
    return request.auth != null
  }

  function isAuthor() {
    return loggedIn() && request.auth.uid == resource.data.author;
  }

  function isAdmin() {
    return loggedIn() && request.auth.token.roles != null && "admin" in request.auth.token.roles;
  }

  function onwsPath(path) {
    return loggedIn() && request.auth.uid == path;
  }

  match /databases/{database}/documents {

    match /notes/{note} {
      allow create: if loggedIn();
      allow read: if isAuthor();
      allow update: if isAuthor();
      allow delete: if isAuthor();
    }

    match /roles-updates/ANY_ROLE_UPDATED {
      allow read: if isAdmin()
    }

    match /roles-updates/{uid} {
      allow read: if onwsPath(uid)
    }

    match /settings/{uid} {
      allow create: if loggedIn();
      allow read: if onwsPath(uid)
      allow update: if onwsPath(uid)
    }
  }
}
