@import "~@blueprintjs/core/lib/scss/variables";
@import "../app/bem.scss";
@import "../app/constants.scss";

@include b("app-layout") {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(150px, 300px) 1fr;
  grid-template-rows: auto auto 1fr;

  grid-template-areas:
    "header header"
    "sidebar-toolbar editor-toolbar"
    "sidebar editor";

  &__header {
    grid-area: header;
  }

  &__sidebar-toolbar {
    grid-area: sidebar-toolbar;
  }

  &__editor-toolbar {
    grid-area: editor-toolbar;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__editor {
    grid-area: editor;
  }

  &__left {
    border-right: 1px solid $gray5;
  }

  .bp3-dark &__left {
    border-right-color: $dark-gray1;
  }
}
