@import "../app/bem.scss";
@import "../app/constants.scss";

@include b("note-editor") {
  overflow: hidden;
  height: 100%;
  padding: $qn-padding;

  textarea {
    &.bp3-input,
    &.bp3-input.bp3-large,
    &.bp3-input.bp3-small {
      resize: none;
      height: 100%;
    }
  }
}
