@import "~normalize.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.firebase-emulator-warning {
  display: none;
}
