@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/src/common/colors";

// blueprint applies box-sizing:border-box

body {
  font-family: sans-serif;
  background-color: $pt-app-background-color;
}

body.bp3-dark {
  background-color: $pt-dark-app-background-color;
}

#root {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.firebase-emulator-warning {
  display: none;
}
