@import "../app/bem.scss";

@include b("app-layout") {
  height: 100vh;

  width: 100vw;

  border: 1px solid lightgray;
  border-collapse: collapse;

  &__header,
  &__body {
    border: inherit;
  }

  &__header {
  }

  &__body {
    width: 100%;
    height: 100%;
  }
}
